.nav-list-c {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #EDEDED;
  padding: 5px 0;
  background-color: #fff;
  position: relative;
}

.nav-list-c:nth-child(1) {
  border-top: 1px solid #EDEDED;
}

.nav-list-l {
  margin-right: 50px;
  height: 100%;
  padding-top: 10px;
  .s-t {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .s-r {
    font-size: 14px;
    color: #D62F10;
    line-height: 28px;
  }
  .s-s {
    margin-left: 35px;
    color: #999999;
    line-height: 28px;
    font-size: 12px;
  }
}

.nav-list-r {
  padding-top: 10px;
  float: right;
  width: 50px;
  height: 100%;
  text-align: center;
  .s-s {
    color: #D62F10;
  }
  img {
    width: 25px;
  }
}