.title-s {
  width: 3px;
  height: 14px;
  display: inline-block;
  background-color: #D62F10;
  margin-right: 8px;
}

.title-c {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.title-c > span {
  vertical-align: middle;
}

.title-content {
  background-color: #fff;
  padding:8px 0px;
}
